.color-red {
    color: red;
}

/* 1.class and class select*/
.color-red.background-yellow {
    color: red;
    background-color: yellow;
}

/* 2.class and id select*/
#first.bold {
    font-weight: bold;
}

/*3. element and class select*/
div.font-weight-bold {
    font-weight: bold;
}

header div p {
    color: red;
    font-weight: bold;
    background-color: yellow;
}

/*or*/


#second .font-weight-bold .color-red.background-yellow {
    color: red;
    font-weight: bold;
    background-color: yellow;
}
