li:hover {
    background-color: darkcyan;
}

li:hover a {
    color: white;
}

ul li:first-child a {
    color: green;
}

li::before {
    content: "before";
    color: red;
}

li::after {
    content: "after";
    color: black;
}

p::first-letter {
    font-weight: bold;
    color: blue;
}

p::first-line {
    font-weight: bold;
}

p {
    background: red;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

li {
    padding-bottom: 10px;
}

p {
    border-style: solid;
    border-width: 3px;
    border-color: greenyellow;

}

p {
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

p {
    width: 400px;
    height: 144px;
}